h1{
    font-size: 150%;
}

a{
    margin: 5%;
}

.navbar-text {
    display: flex;
    justify-content: center;
}
  
  .nav.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0;
  }
  
  .nav-item .btn {
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    background-color: rgb(74, 88, 153);
    color: white;
  }

  .nav-item .btn:hover {
    background-color: rgb(193, 178, 171);
    color: black;
  }