body {
    margin: 0;
    padding: 0;
    background-color: rgb(85, 156, 173);
}

.project {
    background-color: rgb(140, 83, 131);
}

.card-header {
    background-color: rgb(146, 55, 77);
    padding: 5%;
    color: white;
}

.card{
    background-color: rgb(85, 156, 173);
}

.inputPadding {
    padding-top: 2%;
    padding-bottom: 2%;
}

.image-container {
    max-width: 50%;
    height: 50%;
    margin: auto;
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dropzone {
    border: 2px solid black;
}